body{
	
	font-family: arial;
	background: url(../img/Japan.png) no-repeat center center;
	background: cover;
	height: 100vh;
}
h2{
	color: white;
	margin: 0px 0px 20px 10px;
	background: rgba(0,0,0,.5);
	width: 15%;
}

table, th, td{

	/*Agregamos un borde, ancho 1px, color negro solido*/
	border: 1px solid black;

	/*Colapsamos los bordes de manera que comparten el mismo borde*/
	border-collapse: collapse;

	padding: 7px;

	
}
th, td{
	color: #fff;
}

th{
	text-align: left;
	background: rgba(0,0,0,.7);
}

.tabla2{
	width: 95%;
	background: rgba(0,0,0,.5);
	box-shadow: 9px 13px 20px;

}

.tabla1{
	margin-bottom: 30px;
	background: rgba(0,0,0,.5);
	box-shadow: 9px 13px 20px;

}
a{
 color: white;
}

