body{
	background-image: url(img/fondo.png);
	font-family: arial;
	color: #fff;
	
}

table, th, td{

	/*Agregamos un borde, ancho 1px, color negro solido*/
	border: 1px solid black;

	/*Colapsamos los bordes de manera que comparten el mismo borde*/
	border-collapse: collapse;

	padding: 7px;
}

th{
	text-align: left;
}

.tabla2{
	width: 95%;
	background: rgba(0,0,0,.5);
}

.tabla1{
	margin-bottom: 30px;
	background: rgba(0,0,0,.5);
	color: #fff;


}
a{
 color: white;
}

/*Estilos para el encabezado   3act*/
.lista{
	display: inline-block;

	color: white;

	background: #000;
}

.lista ul li{
	/*Para quitar los puntos en el encabezado*/
	list-style: none;

	margin-right: 25px;

	padding: 0;

	

}

.lista ul li a{
	display: block;
	text-decoration: none;
	padding: 20px 80px;

}
.lista ul li a:hover{
	background-color: #42b881;
}

.act3{
	background: blue;
}

